* {
  font-family: "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  transition: scale 0.1s ease-in-out;
}

#root {
  background: linear-gradient(60deg, #be62a1 0%, #7aade7 100%);
}

div {
  background-color: #ffffff20;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 1rem;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style-type: none;
}

.nav-bar > li > a {
  text-decoration: none;
}

.nav-bar > li > a:hover {
  color: white;
}

@media screen and (max-width: 600px) {
  .navbar {
    display: none;
  }

  .openMenu {
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  li > a {
    color: white;
    font-size: 16px;
  }
}

@media screen and (min-width: 601px) {
  .menuMobile {
    display: none;
  }
}
